
/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Saira",sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#ffffff;
    
}

/* ==========================
   HEADER
========================== */

header{
    background:#64997f;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    position:inherit;
    top:0;
    z-index:1000;
    box-shadow: 20px 8px 12px #979595;
    
}

 nav a {  
    color:rgb(255, 255, 225);
    text-decoration: none;
    margin: 0 60px;
    font-size: 18px;
}
    
 nav{  
      text-align: center;
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
 }

.topo{
    max-width:1400px;
    margin:auto;
    padding:10px;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    
}

/* LOGO */

.logo img{
    width:85px;
    height:85px;
}

/* PESQUISA */

.caixa-de-pesquisa{
    flex:1;
    max-width:500px;

    display:flex;
    align-items:center;

    background:#f5f5f5;
    border-radius:50px;
    
}

.caixa-de-pesquisa input{
    flex:1;
    border:none;
    background:transparent;
    padding:14px 20px;
    outline:none;
    font-size:15px;
    background: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(40px) saturate(163%);
-webkit-backdrop-filter: blur(40px) saturate(163%);
border: 1px solid rgba(255, 255, 255, 0.30);
border-radius: 27px;
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.caixa-de-pesquisa img{
    width:24px;
    margin-right:15px;
    cursor:pointer;
}

/* ÍCONES */

.icones{
    display:flex;
    align-items:center;
    gap:30px;
}

.icones a{
    text-decoration:none;
    color:#333;
    text-align:center;
}

.icones img{
    width:35px;
    display:block;
    margin:auto;
    margin-bottom:5px;
}

.icones small{
    display:block;
    color:#666;
}

.icones p{
    font-size:12px;
    font-weight:bold;
}

/* ==========================
   MENU
========================== */

.menu{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:15px;
    flex-wrap:wrap;

    border-top:1px solid #eee;
}

.menu a{
    text-decoration:none;
    color:#ffffff;
    font-weight:600;
    transition:.3s;
}

.menu a:hover{
    color:#4b7b62;
}

/* ==========================
   NÍVEIS
========================== */

.nivel{
    max-width:1400px;
    margin:auto;
    padding:80px 5%;
    position:relative;
}

/* TÍTULOS */

.titulo{
    margin-bottom:50px;
}

.titulo h2{
    font-size:3rem;
    color:#173d24;
    letter-spacing:2px;
}

/* ==========================
   DECORAÇÃO
========================== */

.decoracao{
    position:absolute;
    top:120px;
    left:20px;
}

.circulo{
    position:absolute;
    border-radius:50%;
    border:3px solid #69917a;
}

.c1{
    width:35px;
    height:35px;
}

.c2{
    width:28px;
    height:28px;
    left:40px;
    top:25px;
}

.c3{
    width:20px;
    height:20px;
    left:80px;
    top:5px;
    background:#ddd39a;
    border:none;
}

.c4{
    width:45px;
    height:45px;
    left:105px;
    top:20px;
}

.c5{
    width:18px;
    height:18px;
    left:150px;
    top:10px;
}

/* ==========================
   CARDS
========================== */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
}

.card{
    background:#8d8d8d;
    border-radius:15px;
    padding:30px;

    min-height:230px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.3s;
    position:relative;
    overflow:hidden;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.card::before{
    content:"";

    position:absolute;

    width:130px;
    height:130px;

    border-radius:50%;

    background:rgba(77,123,98,.35);

    bottom:-40px;
    left:-40px;
}

.card::after{
    content:"";

    position:absolute;

    width:100px;
    height:100px;

    border-radius:50%;

    background:rgba(221,211,154,.55);

    bottom:-25px;
    left:40px;
}

.play-btn{
    width:70px;
    height:70px;

    background:#edf8ef;

    border-radius:12px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:25px;
    color:#4b7b62;

    margin-bottom:20px;

    position:relative;
    z-index:2;
}

.card h3{
    color:white;
    text-align:center;
    margin-bottom:15px;
    position:relative;
    z-index:2;
}

.card span{
    background:#c5f2cc;

    padding:10px 25px;

    border-radius:6px;

    font-weight:bold;
    font-size:13px;

    position:relative;
    z-index:2;
}

/* ==========================
   MODAL
========================== */

.modal{
    display:none;

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.85);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.modal-content{
    width:90%;
    max-width:1000px;
    position:relative;
}

.close{
    position:absolute;
    top:-50px;
    right:0;

    background:none;
    border:none;

    color:white;
    font-size:40px;
    cursor:pointer;
}

#videoPlayer{
    width:100%;
    border-radius:12px;
    background:black;
}

/* ==========================
   FOOTER
========================== */

.footer{
    
    background:linear-gradient(
        135deg,
        #5d9174,
        #84ad97
    );

   

    padding:40px 40px 15px;
    color: #EFEBBB;
    
}

.footer-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
}

.footer-logo h2{
    font-size:3rem;
    line-height:0.9;
    font-weight:800;
    color:#f6ecc6;
    font-family: "Saira Stencil", sans-serif;
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.social-item{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:15px;
}

.social-item span{
    display:block;
    font-size:12px;
    letter-spacing:1px;
}

.social-item p{
    font-size:13px;
}

.social-item i{
    font-size:28px;
    color:#f6ecc6;
}

.footer-bottom{
    margin-top:30px;
    font: "Saira", sans-serif;
   
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(247, 246, 221, 0.575);
    padding-top:15px;
    font-size:13px;
}

.footer-bottom p{
    color:#f6ecc6;
}

/* RESPONSIVO */

@media(max-width:768px){

    .footer{
        padding:30px 20px;
    }

    .footer-container{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .footer-logo h2{
        font-size:2.2rem;
    }

    .social-item{
        justify-content:center;
    }

    .footer-bottom{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:900px){

    .topo{
        flex-direction:column;
    }

    .caixa-de-pesquisa{
        width:100%;
        max-width:100%;
    }

    .icones{
        width:100%;
        justify-content:center;
    }

    .titulo h2{
        font-size:2.2rem;
    }
}

@media(max-width:600px){

    .menu{
        gap:15px;
    }

    .menu a{
        font-size:14px;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .card{
        min-height:200px;
    }

    .titulo h2{
        font-size:1.8rem;
    }

    .decoracao{
        transform:scale(.7);
    }
}



/*==================================================
=          CÍRCULOS DO FUNDO
==================================================*/

#background-circles{

    position:fixed;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:0;

}

/*==================================================
=             ESTILO DOS CÍRCULOS
==================================================*/


.circle{

    position:absolute;

    border-radius:50%;

    pointer-events:none;

    will-change:transform;

}
    
    



/*==================================================
=             TAMANHOS
==================================================*/

.c1{

    width:420px;
    height:420px;

    top:-150px;
    left:-120px;

    animation-duration:38s;

}

.c2{

    width:260px;
    height:260px;

    top:8%;
    right:-60px;

    animation-duration:30s;

}

.c3{

    width:160px;
    height:160px;

    left:18%;
    bottom:5%;

    animation-duration:28s;

}

.c4{

    width:340px;
    height:340px;

    right:18%;
    bottom:-150px;

    animation-duration:45s;

}

.c5{

    width:110px;
    height:110px;

    left:45%;
    top:10%;

    animation-duration:20s;

}

.c6{

    width:200px;
    height:200px;

    left:72%;
    top:52%;

    animation-duration:34s;

}

.c7{

    width:150px;
    height:150px;

    left:12%;
    top:45%;

    animation-duration:26s;

}

.c8{

    width:95px;
    height:95px;

    right:26%;
    top:22%;

    animation-duration:24s;

}

.c9{

    width:260px;
    height:260px;

    left:58%;
    top:-100px;

    animation-duration:40s;

}

.c10{

    width:180px;
    height:180px;

    left:-60px;
    bottom:15%;

    animation-duration:36s;

}

.c11{

    width:90px;
    height:90px;

    right:12%;
    bottom:28%;

    animation-duration:22s;

}

.c12{

    width:320px;
    height:320px;

    left:35%;
    bottom:-160px;

    animation-duration:46s;

}

.c13{

    width:140px;
    height:140px;

    top:30%;
    left:80%;

    animation-duration:25s;

}

.c14{

    width:220px;
    height:220px;

    bottom:12%;
    right:40%;

    animation-duration:32s;

}

.c15{

    width:130px;
    height:130px;

    top:75%;
    left:65%;

    animation-duration:27s;

}
/*==================================================
=           ANIMAÇÃO DOS CÍRCULOS
==================================================*/

@keyframes floatCircle{

    0%{

        transform:
        translate3d(0,0,0)
        scale(1)
        rotate(0deg);

    }

    20%{

        transform:
        translate3d(80px,-120px,0)
        scale(1.08)
        rotate(70deg);

    }

    40%{

        transform:
        translate3d(-100px,-220px,0)
        scale(.95)
        rotate(150deg);

    }

    60%{

        transform:
        translate3d(120px,-320px,0)
        scale(1.12)
        rotate(240deg);

    }

    80%{

        transform:
        translate3d(-80px,-160px,0)
        scale(1.03)
        rotate(310deg);

    }

    100%{

        transform:
        translate3d(0,0,0)
        scale(1)
        rotate(360deg);

    }

}


.circle{

   

    animation-timing-function:
    linear,
    ease-in-out;

    animation-iteration-count:
    infinite,
    infinite;

}

/*==================================================
=        MELHOR PERFORMANCE
==================================================*/

.circle{

    will-change:
    transform,
    opacity;

    backface-visibility:hidden;

    transform:translate3d(0,0,0);

}

/*==================================================
=      GARANTE A CAMADA DOS ELEMENTOS
==================================================*/

#background-circles{

    z-index:0;

}

#cadastro-container{

    position:relative;

    z-index:20;

}

#card-cadastro{

    position:relative;

    z-index:30;

}

#formCadastro{

    position:relative;

    z-index:40;

}

/*==================================================
=             RESPONSIVIDADE
==================================================*/

@media(max-width:992px){

    #grid-formulario{

        grid-template-columns:1fr;

        gap:25px;

    }

    #titulo{

        font-size:2.4rem;

    }

    #card-cadastro{

        padding:35px;

    }

}

/*==================================================
=               CELULAR
==================================================*/

@media(max-width:768px){

    #cadastro-container{

        width:94%;

        padding:30px 0;

    }

    #titulo{

        font-size:2rem;

    }

    #subtitulo{

        font-size:.95rem;

    }

    #card-cadastro{

        padding:25px;

        border-radius:22px;

    }

    .campo input{

        height:54px;

        font-size:15px;

    }

    #btnCadastrar,
    #btnLimpar{

        width:100%;

    }

    #botoes{

        flex-direction:column;

    }

}

/*==================================================
=          CELULARES PEQUENOS
==================================================*/

@media(max-width:480px){

    #titulo{

        font-size:1.7rem;

    }

    #subtitulo{

        font-size:.9rem;

    }

    #card-cadastro{

        padding:20px;

    }

    .campo label{

        font-size:.92rem;

    }

    .campo input{

        height:50px;

        padding:0 15px;

    }

}

/*==================================================
=      TAMANHOS MENORES DOS CÍRCULOS
==================================================*/

@media(max-width:768px){

    .c1,
    .c4,
    .c9,
    .c12{

        width:220px;
        height:220px;

    }

    .c2,
    .c6,
    .c14{

        width:160px;
        height:160px;

    }

}

/*==================================================
=         REMOVE SCROLL HORIZONTAL
==================================================*/

html,
body{

    overflow-x:hidden;

}